const JsonApiView = require('adonis-jsonapi/src/JsonApiView');

class {{name}} extends JsonApiView {
  get attributes() {
    return [{{{attributes}}}];
  }
  {{#relations}}

  {{name}}() {
    return this.{{type}}('App/Http/JsonApiViews/{{viewName}}', {
      included: true,
      excludeRelation: '{{fromRelation}}'
    });
  }
  {{/relations}}

}

module.exports = {{name}};
