'use strict';

const Schema = use('Schema');

class {{name}}Schema extends Schema {

  up() {
    this.create('{{table}}', (table) => {
      table.increments();
      {{#fields}}
      {{{.}}}
      {{/fields}}
      table.timestamps();
    });
  }

  down() {
    this.drop('{{table}}');
  }

}

module.exports = {{name}}Schema;
